*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:link,a:visited{
  color: #fff;
}
a:hover,a:focus,a:active{
  color: rgba(255,255,255,0.8);
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/Roboto/Roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Normal'),
       url('//lib.baomitu.com/fonts/Roboto/Roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/Roboto/Roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/Roboto/Roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/Roboto/Roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/Roboto/Roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
body{
	font-family: 'Roboto', 'Microsoft Yahei',sans-serif;
	font-size: 18px;
	color: #a3a3a3;
}
header{
  width: 100%;
  height: 400px;
  overflow: hidden;
  background: url(../img/home-bg.jpg) no-repeat center center;
  background-size: cover;
}
header .logo{
  float: left;
  margin: 20px;
  font-weight: bold;
}
header .navigation{
  float: right;
  margin: 20px;
  font-size: 12px;
}
header .navigation .navigation__item{
  float: left;
  margin-right: 40px;
}
header .navigation .navigation__item:last-child{
  margin-right: 0;
}
header .title{
  clear: both;
  width: 400px;
  margin: 150px auto 0;
  text-align: center;
  color: #fff;
}
header .title h1{
  font-size: 80px;
  margin-bottom: 10px;
}
.wrap{
  width: 1170px;
  margin: 20px auto 0;
  font-size: 16px;
  line-height: 1.3;
  overflow: hidden;
}
.wrap main{
  width: 66.7%;
  margin-left: 8.3%;
  box-sizing: border-box;
  float: left;
}
.wrap main a:link,.wrap main a:visited{
  color: #a3a3a3;
}
.wrap main a:hover,.wrap main a:focus,.wrap main a:active{
  color: #0085a1;
}
.wrap main .article{
  width: 100%;
  margin: 20px 0;
}
.wrap main .article .article__title{
  font-size: 26px;
  margin-bottom: 10px;
}
.wrap main .article .article__subtitle{
  margin-bottom: 10px;
}
.wrap main .article .article__title a:link,.wrap main .article .article__title a:visited,
.wrap main .article .article__subtitle a:link,.wrap main .article .article__subtitle a:visited{
  color: #000;
}
.wrap main .article .article__title a:hover,.wrap main .article .article__title a:focus,.wrap main .article .article__title a:active,
.wrap main .article .article__subtitle a:hover,.wrap main .article .article__subtitle a:focus,.wrap main .article .article__subtitle a:active{
  color: #0085a1;
}
.wrap main .article .article__preview{
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}
.wrap main .article hr{
  margin-top: 20px;
}
.wrap aside{
  width: 25%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 5%;
  margin-bottom: 20px;
  float: left;
  font-size: 14px;
  color: #808080;
}
.wrap aside hr{
  margin: 20px 0;
}
.wrap aside .tags,.wrap aside .profile{
  overflow: hidden;
}
.wrap aside .tags .tags__title{
  font-weight: bold;
  margin-bottom: 10px;
}
.wrap aside .tags .tags__item{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 1.3em;
  border: 1px solid #bfbfbf;
  margin-right: 3px;
  margin-bottom: 10px;
  color: #bfbfbf;
}
.wrap aside .profile .profile__title{
  font-weight: bold;
  margin-bottom: 10px;
}
.wrap aside .profile .profile__avatar img{
  display: block;
  border-radius: 5px;
  opacity: 0.9;
}
.wrap aside .profile .profile__intro{
  margin-top: 10px; 
}
.wrap aside .profile .profile__social{
  margin: 20px 0;
  overflow: hidden;
}
.wrap aside .profile .profile__social__item{
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/facebook.png);
  cursor: pointer;
}
.wrap aside .profile .profile__social__item:nth-child(2){
  background-image: url(../img/github.png);
}
.wrap aside .profile .profile__social__item:nth-child(3){
  background-image: url(../img/weibo.png);
  background-position: 0 2px;
}
.wrap aside .profile .profile__social__item:last-child{
  background-image: url(../img/tencent_weibo.png);
  background-position: 0 2px;
  margin-right: 0;
}
footer{
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin: 40px 0;
}
footer .social{
  display: inline-block;
}
footer .social .social__item{
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/facebook.png);
  cursor: pointer;
}
footer .social .social__item:nth-child(2){
  background-image: url(../img/github.png);
}
footer .social .social__item:nth-child(3){
  background-image: url(../img/weibo.png);
  background-position: 0 4px;
}
footer .social .social__item:last-child{
  background-image: url(../img/tencent_weibo.png);
  background-position: 0 4px;
  margin-right: 0;
}