<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
        <title>{%=o.htmlWebpackPlugin.options.title%}</title>
        <meta name="description" content="小牛美股">
        <meta name="author" content="liuliangsir@gmail.com">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no,email=no,address=no">
        <meta name="renderer" content="webkit">
        <link rel="shortcut icon" href="" type="image/x-icon"/>
        {% for (var css in o.htmlWebpackPlugin.files.css) { %}
        <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
        {% } %}
    </head>
    <body>
        <header id="header" role="banner">
            <nav id="navigation" class="navbar navbar-default grid-container" role="navigation">
                <div class="grid-md-6 nav-header">
                        <button type="button" class="navbar-toggle hidden-lg" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <h1 id="logo" title="小牛美股"><a href="/">小牛美股</a></h1>
                </div>
                <div class="grid-md-6 navbar-collapse collapse" id="navbar-collapse"  aria-expanded="false">
                    <nav id="navigation" class="navbar navbar-default" role="navigation"
                        ><ul class="nav navbar-nav">
                            <li><a href="/inmoney/first-step/index.html" role="button">入金指引</a></li>
                            <li><a href="/contact/index.html" role="button">联系我们</a></li>
                            <li class="hide">
                                <figure class="hidden-sm clearfix"
                                    ><img class="transform-vertical-center" src="../../../static/img/inmoney/icon.png" alt="用户18612345678的头像" width="31"
                                    ><figcaption class="float-right">18612345678</figcaption
                                ></figure>
                                <a id="login-out-button" href="javascript:;" role="button" class="hide">退出</a>
                            </li>
                        </ul
                    ></nav>
                </div>
            </nav>
        </header>
        <main id="main" role="main">
            <section id="inmoney-guides" class="grid-container" role="contentinfo">
                <div class="grid-md-12 flex-column-horizontal-center-vertical-center height-654 width-1000 width-responsive">
                    <dl class="inmoney-guides-details">
                        <dt><h2 class="inmoney-guides-details-title">入金指引</h2></dt>
                        <dd>
                            <dl class="inmoney-guides-details-content">
                                <dt class="inmoney-guides-details-content-title-container"><h3 class="inmoney-guides-details-content-title">电汇需知</h3></dt>
                                <dd>
                                    <ol start="1" type="1" class="inmoney-guides-details-content-content">
                                        <li>小牛美股建议您使用网上银行或APP进行汇款。</li>
                                        <li>您使用的银行卡户名必须与账户开户名一致。</li>
                                        <li>汇出银行与中转行将收取手续费，中转行费用将在到账后，从汇出的金额中扣除</li>
                                        <li>请您遵守国家相关外汇管理规定并谨慎选择汇款用途，违规汇入资金或者选择投资相关汇款用途可能会造成退款。</li>
                                        <li>如果汇款遇阻或被退回，请您优先咨询银行失败原因。因国家政策限制导致的汇款失败，小牛美股恕不负责。</li>
                                    </ol>
                                </dd>
                            </dl>
                        </dd>
                        <dd>
                            <dl class="inmoney-guides-details-content">
                                <dt class="inmoney-guides-details-content-title-container"><h3 class="inmoney-guides-details-content-title">请优先使用下列银行</h3></dt>
                                <dd class="clearfix" id="bank-list"
                                    ><figure class="float-left" id="icbc"
                                        ><img src="../../../static/img/inmoney/pic-icbc.png" alt="中国工商银行" height="40"
                                        ><figcaption>查看费用及指引</figcaption
                                    ></figure
                                    ><figure class="float-left" id="ceb"
                                        ><img src="../../../static/img/inmoney/pic-ceb.png" alt="中国光大银行" height="40"
                                        ><figcaption>查看费用及指引</figcaption
                                    ></figure
                                    ><p class="clearfix hidden-lg figure-container-padding-bottom-40"></p><figure class="float-left" id="boc"
                                        ><img src="../../../static/img/inmoney/pic-boc.png" alt="中国银行" height="40"
                                        ><figcaption>查看费用及指引</figcaption
                                    ></figure
                                    ><figure class="float-left" id="ccb"
                                        ><img src="../../../static/img/inmoney/pic-ccb.png" alt="中国建设银行" height="40"
                                        ><figcaption>查看费用及指引</figcaption
                                    ></figure
                                    ><p class="clearfix hidden-lg figure-container-padding-bottom-40"></p><figure class="float-left" id="aboc"
                                        ><img src="../../../static/img/inmoney/pic-aboc.png" alt="中国农业银行" height="40"
                                        ><figcaption>查看费用及指引</figcaption
                                    ></figure
                                    ><figure class="float-left" id="cmb"
                                        ><img src="../../../static/img/inmoney/pic-cmb.png" alt="招商银行香港分行" height="40"
                                        ><figcaption>查看费用及指引</figcaption
                                    ></figure
                                ><p class="clearfix hidden-lg"></p></dd>
                                <dd class="inmoney-guides-details-content-content-container">
                                    <ol start="1" type="1" class="inmoney-guides-details-content-content">
                                        <li>银行首推中国工商银行APP。</li>
                                        <li>如果使用其他银行入金，可参照已列出的指引步骤，具体操作及费用请向使用的银行咨询。</li>
                                    </ol>
                                </dd>
                            </dl>
                        </dd>
                    </dl>
                </div>
            </section>
        </main>
        <footer id="footer" class="grid-container" role="contentinfo">
            <div class="grid-md-12 grid-sm-12 horizontal-center-vertical-center height-554">
                <div class="footer-details grid-container flex-set-height-percent-100">
                    <dl class="grid-md-6">
                        <dt>
                            <hgroup>
                                <h2>联系我们</h2>
                                <h2>客户协议</h2>
                                <h2>安全可靠</h2>
                            </hgroup>
                        </dt>
                        <dd class="padding-bottom-30">
                            <p>所有投资都存在风险。任何一支证券或金融产品的历史数据都不能保证其未来的表现<wbr/>
                               及回报。虽然投资多样化可以帮助分散风险，但是并不能在市场低迷时确保您获益或<wbr/>
                               防止您损失。投资证券或金融产品总会存在潜在的亏损可能。投资者在进行投资前需<wbr/>
                               考虑自身的投资目标及风险承受能力。</p>
                        </dd>
                        <dd class="padding-bottom-30">
                            <p>本平台所提供的数据、资料等信息，力求但不保证其准确性、完整性及适用性。本平<wbr/>
                            台信息将随时进行必要更新或修正，本公司保留无需事先通知即可删除或修改网站信<wbr/>
                            息的权利。股市有风险，投资需谨慎。您在作出任何投资决策前，应考虑产品特点、<wbr/>
                            投资目标、自身可承受风险程度及其他因素，必要时寻求专业财务咨询。本平台不对<wbr/>
                            您的任何决定承担法律责任。</p>
                        </dd>
                        <dd class="padding-bottom-30">
                            <p>进行交易之前，敬请阅读在我们警告和声明网页上的相关风险透露声明。</p>
                        </dd>
                        <dd>
                            <p>&copy;沪ICP备15055900号－3</p>
                        </dd>
                    </dl>
                    <div class="grid-md-6 horizontal-flex-end-vertical-center padding-top-57-sm">
                        <figure class="flex-column-horizontal-center-vertical-center">
                            <img src="../../static/img/index/wechat.png" class="img-responsive" alt="小牛美股微信公众号" width="110">
                            <figcaption>小牛美股<br/>微信公众号</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </footer>
        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
        {% } %}
    </body>
</html>
