/* Let's spice up things little bit by using pseudo elements. */
@-webkit-keyframes stripes {
   100% {
	   background-position: -100px 0px;
	}
}
@keyframes stripes {
	100% {
		background-position: -100px 0;
	}
}
/* Styling an indeterminate progress bar */
progress:not(value) {
	/* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/* Styling the determinate progress element */
progress[value] {
	/* Get rid of the default appearance */
	-webkit-appearance: none;
	/* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
	border: none;
	/* Add dimensions */
	/* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	/* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
	color: royalblue;
	position: relative;
	/* Let's animate this */
	-webkit-animation: stripes 5s linear infinite;
	animation: stripes 5s linear infinite;
	/*
	Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
	-webkit-progress-bar -> To style the progress element container
	-webkit-progress-value -> To style the progress element value.
	*/
	&::-webkit-progress-bar {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	}
	&::-webkit-progress-value {
		position: relative;
		border-radius:3px;
		background-size: 40px 40px;
		background-repeat: repeat-x;
    background-image:
		-webkit-linear-gradient(
		  135deg,
		rgba(255,255,255,.15) 25%,
		  transparent 25%,
		  transparent 50%,
		rgba(255,255,255,.15) 50%,
		rgba(255,255,255,.15) 75%,
		  transparent 75%,
		  transparent
		);
	}
	&::after {
		content: attr(value);
		width: 25px;
		height: 25px;
		position: absolute;
		left: 60%;
		top: 0px;
		text-align: center;
		border-radius: 100%;
		background-color: rgba(0, 128, 128, .7);
		color: #fff;
		font-size: 14px;
	}
}
/* Fallback technique styles */
.progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	/* Dimensions should be similar to the parent progress element. */
	width: 100%;
	height:20px;
}
.progress-bar span {
  background-color: royalblue;
	border-radius: 3px;
	display: block;
	text-indent: -9999px;
}
p[data-value] {
  position: relative;
}
/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */
p[data-value]:after {
	content: attr(data-value) '%';
	position: absolute;
	right:0;
}
