<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
        <title>刘亮 - 个人简历</title>
        <meta name="description" content="前端开发工程师，web前端工程师，初级工程师">
        <meta name="author" content="流浪大法师">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no,email=no,address=no">
        <meta name="renderer" content="webkit">
        <link rel="icon" type="image/png" sizes="16x16" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-32.png">
        <link rel="icon" type="image/png" sizes="48x48" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-48.png">
        <link rel="icon" type="image/png" sizes="96x96" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-96.png">
        <link rel="apple-touch-icon-precomposed" sizes="96x96" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-96.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-144.png">
        <link rel="shortcut icon" href="http://ohupawle2.bkt.clouddn.com/favicon.ico" type="image/x-icon"/>
        {% for (var css in o.htmlWebpackPlugin.files.css) { %}
        <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
        {% } %}
    </head>
    <body>
        <header id="header" role="banner">
            <nav id="navigation" class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/liuliangsir/camp201701/tree/master/student/liuliang/task/20161203" target="_blank" role="button">源代码</a></li>
                    <li><a href="/resume/static/liuliangsir.pdf" target="_blank" role="button">PDF下载</a></li>
                    <li><a href="https://www.zhihu.com/people/liu-liang-77-21" target="_blank" role="button">知乎</a></li>
                    <li><a href="https://www.douban.com/people/84549742" target="_blank" role="button">豆瓣读书</a></li>
                </ul>
            </nav>
        </header>
        <main id="main" role="main">
            <section id="basic-info" class="grid-container" role="contentinfo">
                <div class="grid-6">
                    <figure class="grid-4"
                        ><img src="http://joyeecheung.github.io/resume/static/wechat.svg" alt="流浪大法师的微信" width="130" height="130"
                    ></figure
                    ><ul class="grid-8">
                        <li
                            ><i class="fa fa-envelope" aria-hidden="true"></i
                            >&nbsp;<a href="mailto://liuliangsir@gmail.com" role="link">liuliangsir@gmail.com</a
                        ></li>
                        <li
                            ><i class="fa fa-weixin" aria-hidden="true"></i
                            >&nbsp;<a href="javascript:;" role="link">JXNU_liuliang</a
                        ></li>
                        <li
                            ><i class="fa fa-weibo" aria-hidden="true"></i
                            >&nbsp;<a href="http://weibo.com/u/3582863145" role="link">王道之矢</a
                        ></li>
                        <li
                            ><i class="fa fa-github" aria-hidden="true"></i
                            >&nbsp;<a href="https://github.com/liuliangsir" role="link">liuliangsir</a
                        ></li>
                        <li
                            ><i class="fa fa-rss" aria-hidden="true"></i
                            >&nbsp;<a href="https://www.w3ctech.com/user/4434" role="link">刘亮爱雪薇</a
                        ></li>
                    </ul>
                </div>
                <div class="grid-6">
                    <dl id="author-brief-intro">
                        <dt><h1>刘亮</h1></dt>
                        <dd>web前端开发工程师&软件工程师</dd>
                    </dl>
                </div>
            </section>
            <section id="education-project-skill-info" class="grid-container" role="contentinfo">
                <div class="grid-6">
                    <div id="education-experience" class="line" role="contentinfo">
                        <div class="education-experience-title clearfix">
                            <i class="fa fa-university font-awesome grid-2" aria-hidden="true"></i>
                            <h2 class="grid-10"><span class="education-experience-title-cn">教育经历</span><br/><span class="education-experience-title-en">education</span></h2>
                        </div>
                        <div class="education-experience-time clearfix">
                            <i class="fa fa-calendar font-awesome teal grid-2" aria-hidden="true"></i>
                            <time class="grid-10">2012～2016</time>
                        </div>
                        <div class="education-experience-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt>江西师范大学</dt>
                                <dd><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>网络工程(物联网方向)&本科</span></dd>
                                <dd><i class="fa fa-trophy" aria-hidden="true"></i><span>2012 - 2013 学年度校<em>三等奖学金</em></span></dd>
                                <dd><i class="fa fa-trophy" aria-hidden="true"></i><span>2013 - 2014 学年度校<em>一等奖学金</em></span></dd>
                            </dl>
                        </div>
                    </div>
                    <div id="language-rank" role="contentinfo"></div>
                    <div id="project-job-experience" role="contentinfo"></div>
                </div>
                <div class="grid-6">
                    <div id="skill" role="contentinfo"></div>
                </div>
            </section>
        </main>
        <footer id="footer" role="contentinfo"></footer>
        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
        {% } %}
    </body>
</html>