/* css reset */
* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
/* resume content */
#resume {
  width: 73em;
  margin: 80px auto;
  background: #fff;
  border-left: 1px solid #efefef;
  border-top: 10px solid #f00;
  border-bottom: 5px solid #f00;
  border-right: 1px solid #efefef;
  text-align: left;
}
#resume .wrap {
  width: 66em;
  margin: 0 auto;
}
/* header content */
#resume .wrap .header {
  margin: 1.5em 0 3em 0;
  padding-bottom: 3em;
  border-bottom: 1px solid #ccc;
  position: relative;
}
#resume .wrap .header .head-left {
  width: 40%;
  float: left;
  line-height: 1.5;
}
#resume .wrap .header .head-left>h1 {
  font-size: 48px;
  letter-spacing: 2px;
}
#resume .wrap .header .head-right {
  line-height: 3;
}
#resume .wrap .header .photo {
  position: absolute;
  top: -13%;
  right: -14.5%;
}
/* main content */
#resume .wrap .main .education {
  padding-bottom: 4em;
}
#resume .wrap .main .skills {
  padding-bottom: 17em;
  line-height: 1.5;
}
#resume .wrap .main .internship {
  padding-bottom: 13em;
  line-height: 1.5;
}
#resume .wrap .main .internship .experience {
  margin-bottom: 10px;
}
#resume .wrap .main .projects {
  padding-bottom: 35em;
}
#resume .wrap .main .projects .tasks {
  line-height: 1.5;
}
#resume .wrap .main .projects .tasks h3 {
  margin-bottom: 5px;
}
#resume .wrap .main .evaluation {
  padding-bottom: 5em;
}
#resume .wrap .main i {
  color: red;
}
/* main content */
.main-common {
  margin-bottom: 3em;
  border-bottom: 1px solid #ccc;
}
.main-left {
  float: left;
  width: 15%;
  font-weight: bold;
  font-size: 18px;
}
.main-right {
  float: right;
  width: 75%;
}
/* other common */
.pl-5 {
  padding-left: 5.5em;
}
.pl-2 {
  padding-left: 2em;
}
.pl-10 {
  padding-left: 10em;
}
.mt-20 {
  margin-top: 20px;
}
.boright {
  border-right: 1px solid #ccc;
}
