<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
        <title>刘亮 - 个人简历</title>
        <meta name="description" content="前端开发工程师，web前端工程师，初级工程师">
        <meta name="author" content="流浪大法师">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no,email=no,address=no">
        <meta name="renderer" content="webkit">
        <link rel="icon" type="image/png" sizes="16x16" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-32.png">
        <link rel="icon" type="image/png" sizes="48x48" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-48.png">
        <link rel="icon" type="image/png" sizes="96x96" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-96.png">
        <link rel="apple-touch-icon-precomposed" sizes="96x96" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-96.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://ohupawle2.bkt.clouddn.com/liuliangsir-144.png">
        <link rel="shortcut icon" href="http://ohupawle2.bkt.clouddn.com/favicon.ico" type="image/x-icon"/>
        {% for (var css in o.htmlWebpackPlugin.files.css) { %}
        <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
        {% } %}
    </head>
    <body>
        <header id="header" role="banner">
            <nav id="navigation" class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/liuliangsir/camp201701/tree/master/student/liuliang/task/20161203" target="_blank" role="button">源代码</a></li>
                    <li><a href="/resume/static/liuliangsir.pdf" target="_blank" role="button">PDF下载</a></li>
                    <li><a href="https://www.zhihu.com/people/liu-liang-77-21" target="_blank" role="button">知乎</a></li>
                    <li><a href="https://www.douban.com/people/84549742" target="_blank" role="button">豆瓣读书</a></li>
                </ul>
            </nav>
        </header>
        <main id="main" role="main">
            <section id="basic-info" class="grid-container" role="contentinfo">
                <div class="grid-6">
                    <figure class="grid-4"
                        ><img src="http://joyeecheung.github.io/resume/static/wechat.svg" alt="流浪大法师的微信" width="130" height="130"
                    ></figure
                    ><ul class="grid-8">
                        <li
                            ><i class="fa fa-envelope" aria-hidden="true"></i
                            >&nbsp;<a href="mailto://liuliangsir@gmail.com" role="link">liuliangsir@gmail.com</a
                        ></li>
                        <li
                            ><i class="fa fa-weixin" aria-hidden="true"></i
                            >&nbsp;<a href="javascript:;" role="link">JXNU_liuliang</a
                        ></li>
                        <li
                            ><i class="fa fa-weibo" aria-hidden="true"></i
                            >&nbsp;<a href="http://weibo.com/u/3582863145" role="link">王道之矢</a
                        ></li>
                        <li
                            ><i class="fa fa-github" aria-hidden="true"></i
                            >&nbsp;<a href="https://github.com/liuliangsir" role="link">liuliangsir</a
                        ></li>
                        <li
                            ><i class="fa fa-rss" aria-hidden="true"></i
                            >&nbsp;<a href="https://www.w3ctech.com/user/4434" role="link">刘亮爱雪薇</a
                        ></li>
                    </ul>
                </div>
                <div class="grid-6">
                    <dl id="author-brief-intro">
                        <dt><h1>刘亮</h1></dt>
                        <dd>web前端开发工程师&软件工程师</dd>
                    </dl>
                </div>
            </section>
            <section id="education-project-skill-info" class="grid-container" role="contentinfo">
                <div class="grid-6">
                    <div id="education-experience" class="line" role="contentinfo">
                        <div class="education-experience-title clearfix">
                            <i class="fa fa-university font-awesome font-awesome-lg grid-2" aria-hidden="true"></i>
                            <h2 class="grid-10"><span class="title-cn">教育经历</span><br/><span class="title-en">education</span></h2>
                        </div>
                        <div class="education-experience-time clearfix">
                            <i class="fa fa-calendar font-awesome teal grid-2" aria-hidden="true"></i>
                            <time class="grid-10 time">2012～2016</time>
                        </div>
                        <div class="education-experience-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt class="dt">江西师范大学</dt>
                                <dd><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>网络工程(物联网方向)&本科</span></dd>
                                <dd><i class="fa fa-trophy" aria-hidden="true"></i><span>2012 - 2013 学年度<em title="学院级二等奖学金">学院级二等奖学金</em></span></dd>
                                <dd><i class="fa fa-trophy" aria-hidden="true"></i><span>2012 - 2013 学年度<em title="国家级励志奖学金">国家级励志奖学金</em></span></dd>
								                <dd><i class="fa fa-trophy" aria-hidden="true"></i><span>2012 - 2013 学年度<em title="华东交通大学2013(冬)ACM程序设计竞赛三等奖">华东交通大学2013(冬)ACM程序设计竞赛三等奖</em></span></dd>
								                <dd><i class="fa fa-trophy" aria-hidden="true"></i><span>2012 - 2013 学年度<em title="江西师范大学第五届大学生数学竞赛非专业二等奖">江西师范大学第五届大学生数学竞赛非专业二等奖</em></span></dd>
                            </dl>
                        </div>
                    </div>
                    <div id="language-rank" role="contentinfo">
                        <div class="language-rank-title clearfix">
                            <i class="fa fa-free-code-camp font-awesome font-awesome-lg grid-2" aria-hidden="true"></i>
                            <h2 class="grid-10"><span class="title-cn">语言水平</span><br/><span class="title-en">language</span></h2>
                        </div>
                        <div class="language-rank-details clearfix">
                            <span class="grid-2 language-rank-details-name">cet-6</span>
                            <progress class="grid-10 cet-6" max="100" value="64">
                              <div class="grid-10 progress-bar">
                                <span style="width: 64%">64%</span>
                              </div>
                            </progress>
                        </div>
                        <div class="language-rank-details clearfix">
                            <span class="grid-2 language-rank-details-name">cet-4</span>
                            <progress class="grid-10 cet-4 html5" max="100" value="74">
                              <div class="grid-10 progress-bar">
                                <span style="width: 74%">74%</span>
                              </div>
                            </progress>
                        </div>
                        <div class="language-rank-details clearfix">
                            <span class="grid-2 language-rank-details-name">html</span>
                            <progress class="grid-10 html" max="100" value="75">
                              <div class="grid-10 progress-bar">
                                <span style="width: 75%">75%</span>
                              </div>
                            </progress>
                        </div>
                        <div class="language-rank-details clearfix">
                            <span class="grid-2 language-rank-details-name">css</span>
                            <progress class="grid-10 css" max="100" value="75">
                              <div class="grid-10 progress-bar">
                                <span style="width: 75%">75%</span>
                              </div>
                            </progress>
                        </div>
                        <div class="language-rank-details clearfix">
                            <span class="grid-2 language-rank-details-name">js</span>
                            <progress class="grid-10 javascript" max="100" value="80">
                              <div class="grid-10 progress-bar">
                                <span style="width: 80%">80%</span>
                              </div>
                            </progress>
                        </div>
                        <div class="language-rank-details clearfix">
                            <span class="grid-2 language-rank-details-name">java</span>
                            <progress class="grid-10 java" max="100" value="73">
                              <div class="grid-10 progress-bar">
                                <span style="width: 73%">73%</span>
                              </div>
                            </progress>
                        </div>
                        <div class="language-rank-details clearfix">
                            <span class="grid-2 language-rank-details-name">php</span>
                            <progress class="grid-10 php" max="100" value="70">
                              <div class="grid-10 progress-bar">
                                <span style="width: 70%">70%</span>
                              </div>
							              </progress>
                        </div>
					          </div>
                    <div id="project-job-experience" class="line" role="contentinfo">
                        <div class="project-job-experience-title clearfix">
                            <i class="fa fa-tasks font-awesome font-awesome-lg grid-2" aria-hidden="true"></i>
                            <h2 class="grid-10"><span class="title-cn">项目与工作经验</span><br/><span class="title-en">experience</span></h2>
                        </div>
                        <div class="project-job-experience-time clearfix">
                            <i class="fa fa-line-chart font-awesome teal grid-2" aria-hidden="true"></i>
                            <h3 class="grid-10 h3"><a href="http://www.wallstreetstock.cn/" target="_blank" role="link">趣美金融</a><time>2016.10 ～ 至今</time></h3>
                        </div>
                        <div class="project-job-experience-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt class="dt-sm">前端开发(全职)</dt>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="独自完成估值周报前端逻辑以及工程化构建的实现">独自完成<em>估值周报</em>前端逻辑以及工程化构建的实现</span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="和同事共同负责华尔街股票App产品的日常需求以及迭代">和同事共同负责<em>华尔街股票App</em>产品的日常需求以及迭代</span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="独自负责crm产品的前端需求">独自负责<em>crm</em>产品的前端需求</span></dd>
                            </dl>
                        </div>
                        <div class="project-job-experience-time clearfix">
                            <i class="fa fa-line-chart font-awesome teal grid-2" aria-hidden="true"></i>
                            <h3 class="grid-10 h3"><a href="http://www.yff.com/" target="_blank" role="link">云锋金融</a><time>2016.07 ～ 2016.09</time></h3>
                        </div>
                        <div class="project-job-experience-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt class="dt-sm">前端开发(全职)</dt>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="在同事基础上完成行情项目前端脚手架和前端路由的构建，基于vue，vuex，director等技术">在同事基础上完成行情项目<em>前端脚手架</em>和<em>前端路由</em>的构建</span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="负责交易模块的前端切图以及出入金，下单模块的逻辑实现">负责<em>交易模块</em>的前端切图以及<em>出入金</em>，<em>下单模块</em>的逻辑实现</span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="《http请求发起方式》的技术分享"><em>http请求发起方式的</em>技术分享 </span></dd>
                            </dl>
                        </div>
                        <div class="project-job-experience-time clearfix">
                            <i class="fa fa-shopping-bag font-awesome teal grid-2" aria-hidden="true"></i>
                            <h3 class="grid-10 h3"><a href="http://www.gome.com.cn/" target="_blank" role="link">北京美信</a><time>2015.12 ～ 2016.06</time></h3>
                        </div>
                        <div class="project-job-experience-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt class="dt-sm">前端开发(实习)</dt>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="独自完成美信数据平台用户模块的开发以及权限控制">独自完成<em>美信数据平台用户模块</em>的开发以及<em>权限控制</em></span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="熟悉Svn，fd-server，liveStyle，Git等工具的使用">熟悉<em>Svn</em>，<em>fd-server</em>，<em>liveStyle</em>，<em>Git</em>等工具的使用 </span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="独自完成分页组件js代码的编写">独自完成<em>分页组件</em>js代码的编写</span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="独自完成移动端商家入驻的小项目">独自完成<em>移动端商家入驻</em>的小项目</span></dd>
                            </dl>
                        </div>
                        <div class="project-job-experience-time clearfix">
                            <i class="fa fa-shopping-bag font-awesome teal grid-2" aria-hidden="true"></i>
                            <h3 class="grid-10 h3"><a href="http://www.yhd.com/2/" target="_blank" role="link">上海一号店</a><time>2015.06 ～ 2016.09</time></h3>
                        </div>
                        <div class="project-job-experience-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt class="dt-sm">前端开发(实习)</dt>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="完成了新人任务，了解移动端适配的解决方案">完成了新人任务，了解<em>移动端适配</em>的解决方案</span></dd>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="熟悉Svn，Filddler等工具的使用">熟悉<em>Svn</em>，<em>Filddler</em>等工具的使用</span></dd>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="参加特训并完成了疯狂的盒子的编码实现">参加特训并完成了<em>疯狂的盒子</em>的编码实现</span></dd>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="参加框架组重要项目Maps，了解如何封装组件">参加框架组重要项目<em>Maps</em>，了解如何封装组件</span></dd>
                            </dl>
                        </div>
                        <div class="project-job-experience-time clearfix">
                            <i class="fa fa-html5 font-awesome teal grid-2" aria-hidden="true"></i>
                            <h3 class="grid-10 h3"><a href="https://75team.com/" target="_blank" role="link">奇舞团在线训练</a><time>2015.06 ～ 2016.09</time></h3>
                        </div>
                        <div class="project-job-experience-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt class="dt-sm">前端开发(训练)</dt>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="完成了奇舞团布置的7次作业">完成了<em>奇舞团</em>布置的<em>7次</em>作业</span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="实现俄罗斯方块，具体代码参见俄罗斯方块">实现<em>俄罗斯方块</em>，具体代码参见俄罗斯方块</span></dd>
                            </dl>
                        </div>
                        <div class="project-job-experience-time clearfix">
                            <i class="fa fa-building-o font-awesome teal grid-2" aria-hidden="true"></i>
                            <h3 class="grid-10 h3"><a href="http://www.hamsburg.com/" target="_blank" role="link">南昌汉之堡</a><time>2014.06 ～ 2014.08</time></h3>
                        </div>
                        <div class="project-job-experience-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt class="dt-sm">全栈开发</dt>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="前端UI框架使用Bootstrap，后台框架使用Thinkphp">前端UI框架使用Bootstrap，后台框架使用Thinkphp</span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="基于Thinkphp(MVC)开发适合自己的数据管理框架KcFramework">基于Thinkphp(MVC)开发适合自己的<em>数据管理框架KcFramework</em></span></dd>
                            </dl>
                        </div>
                        <div class="project-job-experience-time clearfix">
                            <i class="fa fa-university font-awesome teal grid-2" aria-hidden="true"></i>
                            <h3 class="grid-10 h3"><a href="http://xg.aihe.net.cn/" target="_blank" role="link">学工系统</a><time>2014.08 ～ 2014.12</time></h3>
                        </div>
                        <div class="project-job-experience-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt class="dt-sm">全栈开发</dt>
                                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="前端UI框架使用Bootstrap，后台模板使用Metronic">前端UI框架使用Bootstrap，后台模板使用Metronic</span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="Echarts、select2、jQuery插件、keneditor等开源组件"><em>Echarts</em>、<em>select2</em>、jQuery插件、<em>keneditor</em>等开源组件</span></dd>
								                <dd><i class="fa fa-cog" aria-hidden="true"></i><span title="应用对数据建立索引以及sql语句优化的方式来减轻服务器的压力">应用对<em>数据建立索引</em>以及<em>sql语句优化</em>的方式来减轻服务器的压力</span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="grid-6">
                    <div id="skill" role="contentinfo">
                        <div class="skill-title clearfix">
                            <i class="fa fa-wrench font-awesome font-awesome-lg grid-2" aria-hidden="true"></i>
                            <h2 class="grid-10"><span class="title-cn">技能</span><br/><span class="title-en">skills</span></h2>
                        </div>
                        <div class="skill-time clearfix">
                            <i class="fa fa-internet-explorer font-awesome teal grid-2" aria-hidden="true"></i>
                            <span class="grid-10 time">Web前端</span>
                        </div>
                        <div class="skill-process clearfix">
                            <i class="grid-2" aria-hidden="true"></i>
                            <dl class="grid-10">
                                <dt class="dt-sm"><span>HTML</span>&nbsp;/&nbsp;<span>CSS</span></dt>
                                <dd><i class="fa fa-css3" aria-hidden="true"></i><span title="掌握HTML和大部分的CSS属性值">掌握HTML和大部分的CSS属性值</span></dd>
								                <dd><i class="fa fa-css3" aria-hidden="true"></i><span title="使用过CSS3新特性">使用过CSS3新特性</span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer id="footer" role="contentinfo"></footer>
        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
        {% } %}
    </body>
</html>
