@import '../../main';
@import '../common/main';
.height-66 {
	min-height: 66px;
}
.height-110 {
	min-height: 110px;
}
.height-290 {
	min-height: 290px;
}
.height-460 {
	min-height: 460px;
}
.height-520 {
	min-height: 520px;
	@include media("<=tablet") {
		min-height: 257px;
	}
}
.height-600 {
	min-height: 600px;
}
.height-650 {
	min-height: 650px;
	@include media("<=tablet") {
		min-height: 425px;
	}
}
.height-700 {
	min-height: 700px;
}
.height-750 {
	min-height: 750px;
}
.height-800 {
	min-height: 800px;
}
.width-500 {
	width: 500px;
}
.width-846 {
	width: 846px;
}
.padding-bottom-30 {
	padding-bottom: 30px;
}
.padding-bottom-85 {
	padding-bottom: 85px;
}
.app-store-image-border {
	border: 2px solid #000;
	border-radius: 4px;
}
section {
	&#introduce {
		@include media("<=tablet") {
			display: flex;
			flex-direction: column-reverse;
      padding: 0 30px 0 30px;
		}
		background-color: #fff;
    .horizontal-flex-start-vertical-center {
      @include media(">tablet") {
          padding-left: calc(25% - 77.5px);
      }
    }
		.introduce-slogan {
			text-align: center;
		}
		.introduce-slogan-title {
			font-size: 54px;
			line-height: 1;
			color: #000;
			padding-bottom: 44px;
			font-weight: bold;
			@extend .float-right;
			@include media("<=tablet") {
				font-size: 40px;
			}
		}
		.introduce-slogan-title-small {
			font-size: 12px;
			font-style: normal;
			vertical-align: middle;
			padding: 0 10px;
			display: inline-block;
		}
		.introduce-slogan-content {
			font-size: 36px;
			color: #454545;
			font-weight: bold;
			width: 100%;
			@extend .float-right;
			@include media("<=tablet") {
				font-size: 24px;
			}
		}
		.introduce-slogan-content-strong {
			font-size: 48px;
			line-height: 1;
			color: #e93030;
			@include media("<=tablet") {
				font-size: 30px;
			}
		}
	}
	&#app {
		background: url('../../../img/index/pic-2.png') center top no-repeat;
		background-size: cover;
		.bg-sm {
			@include media("<=tablet") {
				background: url('../../../img/index/pic-2.png') 20% center no-repeat;
				background-size: cover;
			}
		}
		.app-details {
			@include media("<=tablet") {
				padding: 91px 0 100px 0;
			}
		}
		.app-download-container {
			padding-top: 78px;
		}
		h2 {
			font-size: 54px;
			color: #000;
			line-height: 1;
			@include media("<=tablet") {
				text-align: center;
				font-size: 40px;
			}
		}
		dl {
			dt {
				font-size: 24px;
				color: rgba(0,0,0,.7);
				text-align: center;
				padding-bottom: 40px;
			}
		}
	}
	&#choose {
		background-color: #f7f2ed;
    @include media(">tablet") {
        padding: 0 calc(25% - 172px) 0 calc(25% - 77.5px);
    }
		.choose-details {
			@include media("<=tablet") {
				padding: 100px 30px;
        max-width: 100%;
        overflow-x: hidden;
			}
		}
		i {
			font: normal normal bold 72px/1 'Microsoft YaHei';
			color: #e93030;
			display: inline-block;
		}
		span {
			font-size: 30px;
			color: #000;
			font-weight: bold;
			display: inline-block;
			width: 100%;
		}
		p {
			font-size: 18px;
			color: rgba(0,0,0,.7);
			font-family: 'STXihei'
		}
		h2 {
			font-size: 30px;
			color: #000;
			line-height: 1;
			text-align: center;
			padding-bottom: 33px;
		}
		dl.choose-reason {
			@extend %media-flex-column-horizontal-center-vertical-center;
			dt {
				font-size: 20px;
				color: rgba(0,0,0,.7);
				font-family: 'STXihei';
				text-align: center;
				padding-bottom: 80px;
			}
			dd {
				width: 360px;
				height: 360px;
				@extend .float-left;
				line-height: 1.8;
				&.choose-reason-frist {
					background: url('../../../img/index/juxing-1.png') no-repeat;
					background-size: contain;
					padding: 61px 28px 37px 84px;
				}
				&.choose-reason-second {
					background: url('../../../img/index/juxing-2.png') no-repeat;
					background-size: contain;
					padding: 51px 28px 48px 84px;
					margin-top: 42px;
					margin-left: -87px;
					@include media("<=tablet") {
						margin-left: 0px;
					}
				}
				&.choose-reason-third {
					background: url('../../../img/index/juxing-3.png') no-repeat;
					background-size: contain;
					width: 400px;
					height: 400px;
					padding: 85px 43px 43px 99px;
					margin-top: 72px;
					margin-left: -87px;
					@include media("<=tablet") {
						margin: 42px 0 0;
						width: 360px;
						height: 360px;
					}
				}
			}
		}
	}
	&#market {
		background-color: #fff;
    @include media(">tablet") {
        padding: 0 calc(25% - 172px) 0 calc(25% - 77.5px);
    }
		dl.quote-details {
			width: 566px;
			min-height: 440px;
			background: url('../../../img/index/juxing-4.png') no-repeat;
			background-size: contain;
			@include media("<=tablet") {
				background: none;
				width: 310px;
				padding-left: 0;
				padding-right: 0;
				border-radius: 5px;
				@include box-shadow(0px, 0px, 44px);
				padding: 43px 32px 0px 33px;
				min-height: 375px;
			}
			padding: 65px 32px 45px 33px;
			text-align: center;
			dt {
				font-family: 'STXihei';
				color: rgba(0,0,0,.7);
				font-size: 18px;
				line-height: 2;
			}
			dd {
				&.quote-first-advantage {
					font-size: 32px;
					color: #e93030;
					vertical-align: middle;
					font-weight: bold;
					@include media("<=tablet") {
						font-size: 20px;
					}
				}
				&.quote-second-advantage {
					font-size: 30px;
					color: #000;
					line-height: 1;
					padding: 46px 0 40px 0;
				}
				i {
					font-style: normal;
					display: inline-block;
					font-family: 'Microsoft YaHei';
					font-size: 52px;
					font-weight: bolder;
					background-color: #e93030;
					color: #fff;
					border-radius: 6px;
					line-height: 1.4;
					padding: 0 10px;
					@include media("<=tablet") {
						font-size: 40px;
					}
				}
			}
		}
	}
	&#product-features {
		background-color: #f7f2ed;
    @include media(">tablet") {
        padding: 0 calc(25% - 172px) 0 calc(25% - 77.5px);
    }
		text-align: center;
		.product-features-details {
			@include media("<=tablet") {
				padding: 0 0 100px;
			}
		}
		dl {
			&.product-features-details {
				position: relative;
				@extend %media-flex-column-horizontal-center-vertical-center;
				& > dt {
					width: 170px;
					height: 170px;
					border: 2px dashed #ff3030;
					border-radius: 10px;
					text-align: center;
					line-height: 170px;
					font-size: 30px;
					color: #000;
				}
				span {
					display: inline-block;
					transform: rotate(-45deg);
				}
				@include media("<=tablet") {
					&::before {
						content: '';
						display: block;
						width: 100%;
						height: 240px;
						padding: 100px 0;
					}
				}
			}
			&.product-feature-details {
				@include media("<=tablet") {
					padding-bottom: 30px;
				}
				dt {
					font-size: 20px;
					color: #000;
					padding: 25px 0;
				}
				dd {
					font-size: 16px;
					line-height: 1.5;
					color: rgba(0,0,0,.7);
				}
				img {
					display: inline-block;
				}
			}
		}
	}
	&#team {
		background: url('../../../img/index/pic-3.png') center top no-repeat;
		background-size: cover;
		text-align: center;
    @include media(">tablet") {
        padding: 0 calc(25% - 172px) 0 calc(25% - 77.5px);
    }
		.team-details {
			padding-top: 80px;
			border: 1px solid #fff;
			border-radius: 6px;
			background-color: rgba(255, 255, 255, .5);
			padding: 60px 0;
			@include media("<=tablet") {
				padding: 30px 10px;
			}
		}
		h2 {
			font-size: 30px;
			color: #000;
			font-weight: normal;
			line-height: 1;
		}
		p {
			font-size: 20px;
			color: rgba(0,0,0,.7);
			font-family: 'STXihei';
			padding-top: 50px;
			line-height: 1.6;
		}
	}
	&#security-assurance {
		background-color: #fff;
    @include media(">tablet") {
        padding: 0 calc(25% - 172px) 0 calc(25% - 77.5px);
    }
		dl.security-assurance-details {
			@include media("<=tablet") {
				padding: 30px 0;
				text-align: center;
			}
			h2 {
				font-weight: normal;
				font-size: 30px;
			}
			h3 {
				font-size: 20px;
				color: #000;
				line-height: 40px;
				font-weight: normal;
			}
			p {
				font-family: 'STXihei';
				color: rgba(0,0,0,.7);
				font-size: 16px;
				line-height: 1.5;
				@include media("<=tablet") {
					padding: 0 30px;
				}
			}
			dt {
				text-align: center;
				font-size: 30px;
				color: #000;
				line-height: 1;
				padding-bottom: 100px;
			}
			dd {
				padding-right: 40px;
				@include media("<=tablet") {
					padding: 0 0 30px 0;
				}
			}
			img {
				display: inline-block;
			}
		}
	}
	&#strategic-partner {
		background-color: #e5e5e5;
    @include media(">tablet") {
        padding: 0 calc(25% - 172px) 0 calc(25% - 77.5px);
    }
		@include media("<=tablet") {
			padding: 100px 0 40px;
		}
		h2 {
			font-weight: normal;
			font-size: 30px;
			line-height: 1;
			color: #232424;
			text-align: center;
			@include media("<=tablet") {
				font-size: 20px;
			}
		}
		nav {
			text-align: justify;
			padding-top: 97px;
			&::after {
				content: "";
				display: inline-block;
				width: 100%;
			}
		}
		a {
			display: inline-block;
				@include media("<=tablet") {
					width: 100%;
					padding-bottom: 60px;
				}
		}
		.strategic-partner-details {
		}
	}
}
