<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
        <title>{%=o.htmlWebpackPlugin.options.title%}</title>
        <meta name="description" content="小牛美股">
        <meta name="author" content="liuliangsir@gmail.com">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no,email=no,address=no">
        <meta name="renderer" content="webkit">
        <link rel="shortcut icon" href="" type="image/x-icon"/>
        {% for (var css in o.htmlWebpackPlugin.files.css) { %}
        <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
        {% } %}
    </head>
    <body>
        <header id="header" role="banner">
            <nav id="navigation" class="navbar navbar-default grid-container" role="navigation">
                <div class="grid-md-6 nav-header">
                        <button type="button" class="navbar-toggle hidden-lg" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <h1 id="logo" title="小牛美股"><a href="/">小牛美股</a></h1>
                </div>
                <div class="grid-md-6 navbar-collapse collapse" id="navbar-collapse"  aria-expanded="false">
                    <nav id="navigation" class="navbar navbar-default" role="navigation"
                        ><ul class="nav navbar-nav">
                            <li><a href="/inmoney/first-step/index.html" role="button">入金指引</a></li>
                            <li><a href="/contact/index.html" role="button">联系我们</a></li>
                            <li class="hide">
                                <figure class="hidden-sm clearfix"
                                    ><img class="transform-vertical-center" src="../../../static/img/inmoney/icon.png" alt="用户18612345678的头像" width="31"
                                    ><figcaption class="float-right">18612345678</figcaption
                                ></figure>
                                <a id="login-out-button" href="javascript:;" role="button" class="hide">退出</a>
                            </li>
                        </ul
                    ></nav>
                </div>
            </nav>
        </header>
        <main id="main" role="main">
            <section id="company-aim" class="grid-container" role="contentinfo">
                <div class="grid-md-12 flex-column-horizontal-center-vertical-center height-520">
                    <dl class="company-aim-details">
                        <dt><h2>公司宗旨</h2></dt>
                        <dd>用最前沿的技术打破海外投资中的门槛与壁垒，为每个人提供海外投资的桥梁与支持</dd>
                    </dl>
                </div>
            </section>
            <section id="team-member" class="grid-container" role="contentinfo">
                <div class="grid-md-12 flex-column-horizontal-center-vertical-center height-1208">
                    <dl class="team-member-details">
                        <dt><h2>我们团队</h2></dt>
                        <dd class="figure-container-padding-bottom-100">
                            <figure>
                                <img src="../../static/img/contact/photo-1.png" alt="Alex Lu" width="200" height="246">
                                <figcaption>
                                    <dl>
                                        <dt class="team-member-details-name"><h3>Alex Lu</h3></dt>
                                        <dd class="team-member-details-position">联合创始人&CEO</dd>
                                        <dd class="team-member-details-job-experience"
                                            ><span>前大智慧CTO，百度商业平台技术总监，盛大集团副总裁。</span
                                            ><span>曾在美国微软和Google分别担任首席程序经理，资深工程师，</span
                                            ><span>在人工智能、机器学习、大数据和金融科技领域有17年的经验。</span
                                            ><span>清华大学数学和计算机双学位，哥伦比亚大学MBA</span
                                        ></dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </dd>
                        <dd class="figure-container-padding-bottom-100">
                            <figure>
                                <img src="../../static/img/contact/photo-2.png" alt="Keith Kline" width="200" height="246">
                                <figcaption>
                                    <dl>
                                        <dt class="team-member-details-name"><h3>Keith Kline</h3></dt>
                                        <dd class="team-member-details-position">COO</dd>
                                        <dd class="team-member-details-job-experience"
                                            ><span>华尔街对冲基金VAM合伙人与衍生品交易负责人，在华尔街有25年工作经验。</span
                                            ><span>1990年在SIG开始交易生涯，在海纳集团创始人Jeff Yass培养下，成长为首席交易员，</span
                                            ><span>后任衍生品交易投资总监。工作16年后，加入对冲基金VAM做合伙人，基金规模在5年内从$50M增长到$25亿美金。</span
                                        ></dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </dd>
                        <dd>
                            <figure>
                                <img src="../../static/img/contact/photo-3.png" alt="Barry Bernstein" width="200" height="246">
                                <figcaption>
                                    <dl>
                                        <dt class="team-member-details-name"><h3>Barry Bernstein</h3></dt>
                                        <dd class="team-member-details-position">首席投资官</dd>
                                        <dd class="team-member-details-job-experience">
                                            <span>拥有15年的国际金融服务经验，前美国券商Algo Paterners的首席运营官，</span>
                                            <span>国际交易机构Neonet Securities的主席。曾获得纳斯达克股票市场敲钟的荣誉。</span>
                                        </dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </dd>
                    </dl>
                </div>
            </section>
            <section id="contact" class="grid-container" role="contentinfo">
                <div class="grid-md-12 flex-column-horizontal-center-vertical-center height-300">
                    <dl class="contact-details">
                        <dt><h2>联系方式</h2></dt>
                        <dd class="float-left" id="email"><img src="../../static/img/contact/icon-1.png" alt="邮箱" width="30"><span>邮箱：contact@wallstreetstock.cn</span></dd>
                        <dd class="float-left" id="wechat"><img src="../../static/img/contact/icon-2.png" alt="微信服务号" width="30"><span>微信服务号：wsgupiao</span></dd>
                        <dd class="clearfix"></dd>
                    </dl>
                </div>
            </section>
        </main>
        <footer id="footer" class="grid-container" role="contentinfo">
            <div class="grid-md-12 grid-sm-12 horizontal-center-vertical-center height-554">
                <div class="footer-details grid-container flex-set-height-percent-100">
                    <dl class="grid-md-6">
                        <dt>
                            <hgroup>
                                <h2>联系我们</h2>
                                <h2>客户协议</h2>
                                <h2>安全可靠</h2>
                            </hgroup>
                        </dt>
                        <dd class="padding-bottom-30">
                            <p>所有投资都存在风险。任何一支证券或金融产品的历史数据都不能保证其未来的表现<wbr/>
                               及回报。虽然投资多样化可以帮助分散风险，但是并不能在市场低迷时确保您获益或<wbr/>
                               防止您损失。投资证券或金融产品总会存在潜在的亏损可能。投资者在进行投资前需<wbr/>
                               考虑自身的投资目标及风险承受能力。</p>
                        </dd>
                        <dd class="padding-bottom-30">
                            <p>本平台所提供的数据、资料等信息，力求但不保证其准确性、完整性及适用性。本平<wbr/>
                            台信息将随时进行必要更新或修正，本公司保留无需事先通知即可删除或修改网站信<wbr/>
                            息的权利。股市有风险，投资需谨慎。您在作出任何投资决策前，应考虑产品特点、<wbr/>
                            投资目标、自身可承受风险程度及其他因素，必要时寻求专业财务咨询。本平台不对<wbr/>
                            您的任何决定承担法律责任。</p>
                        </dd>
                        <dd class="padding-bottom-30">
                            <p>进行交易之前，敬请阅读在我们警告和声明网页上的相关风险透露声明。</p>
                        </dd>
                        <dd>
                            <p>&copy;沪ICP备15055900号－3</p>
                        </dd>
                    </dl>
                    <div class="grid-md-6 horizontal-flex-end-vertical-center padding-top-57-sm">
                        <figure class="flex-column-horizontal-center-vertical-center">
                            <img src="../../static/img/index/wechat.png" class="img-responsive" alt="小牛美股微信公众号" width="110">
                            <figcaption>小牛美股<br/>微信公众号</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </footer>
        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
        {% } %}
    </body>
</html>
